{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'login/css/search.css' %}">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="/homepage/">ReadRecommend<span class="sr-only">(current)</span> </a></li>
<!--            <li><a href="#">Sign up</a></li>-->
          </ul>
          {% if username %}
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout/">Sign out</a> </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile/">{{ username }}</a> </li>
              </ul>
          {% else %}
              <ul class="nav navbar-nav navbar-right">
                <a href="/login/"><button type="submit" class="btn btn-default">login</button></a>
              </ul>
          {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="search-box">
          <form method="get" action="/search/">
              <div class="input-group">
                  {% csrf_token %}
                  <input type="text" class="form-control" name="search_content" placeholder="Bookname/Username" required>
                  <span class="input-group-btn" id="search-addon">
                    <button class="btn btn-primary" type="submit">
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                  </span>
              </div>
          </form>
        </div>
    </div>

    <div class="container">
        <h1>Collections: </h1>
        {% for key,value in collection_data.items %}
            <div class="list-group-item clearfix">
                <ul>
                      <a href="/Codetail/?coid={{ value }}@{{ user }}" class="list-group-item-heading">{{ key }}</a>
                </ul>

{#            {% for i in value %}#}
{#                <div class="list-group-item">#}
{#                        <a>{{ i.BkTitle }}</a>#}
{#                        <a>{{ i.BkAuthor }}</a>#}
{#                        <a>{{ i.BkPublisher }}</a>#}
{#                        <a href="/Bkdetail/?id={{ i.BkId }}" style="margin-right: 20px"><button>detail</button></a>#}
{#                        <a href="/deleteBk/?id={{ i.BkId }}@{{ key }}"><button type="button" name="{{ i.BkId }}">delete</button></a>#}
{#                </div>#}
{#            {% endfor %}#}
            </div>
        {% endfor %}

        <h1><font size="5" face="arial" color="black">Recently Add</font></h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Added time</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Publisher</th>
                    <th>Publication date</th>
                    <th>Rating</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
            {% for time,book in top_10.items %}
                <tr>
                    <td>{{ time }}</td>
                    <td>{{ book.BkTitle }}</td>
                    <td>{{ book.BkAuthor }}</td>
                    <td>{{ book.Category }}</td>
                    <td>{{ book.BkPublisher }}</td>
                    <td>{{ book.BkPubDate }}</td>
                    <td>{{ book.Rating }}</td>
                    <td>
                      <a href="/Bkdetail/?id={{ book.BkId }}" class="btn btn-success btn-sm" style="float:left;margin-right: 20px">detail</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{#        <li><a href="/test/">test</a> </li>#}
    </div>

</body>
</html>